@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed&family=Open+Sans&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk&display=swap');


.h1{
 
    font-family: 'Fira Sans Extra Condensed';
    
    
    }
   #head
   {
    font-family: 'Fira Sans Extra Condensed';
    
   } 

   #one{
 
    font-family: 'Familjen Grotesk';
   }
   