.bg{
    width:30vw;
}
.bhole{
    width:30vw;
}
.bhole1{
    width:40vw;
}
.textbox{
    width:70vw;
    /* background-image: url("../images/Rectangle 351.png"); */
    top:10vh;
    left:10vw;
    
}

/* .textbox1{
    background-image: url("../images/Rectangle 351.png");
   width:30vw;
   height:40vh;
} */