
@import url(//fonts.googleapis.com/css2?family=Familjen+Grotesk);
.bg{
  width:30vw;

}

.bhole{
  width:30vw;
}
.ThumbContent{
  width:40vw;
  font-family: 'Familjen Grotesk', sans-serif;
  color: #565656;
  font-size:1.3vw;
  line-height: 123%;
}
.textbox{
  width:70vw;
  /* background-image: url("../images/Rectangle 351.png"); */
  top:9vw;
  left:13vw;
  height:24vw;
  
}
.big{
  height:24vw;
}


/* .textbox1{
  background-image: url("../images/Rectangle 351.png");
 width:30vw;
 height:40vh;
} */
@media  screen and (min-width:550px){
  .dnb{
    display:flex;
    
  
  } 
   .geet{
    display:none;
  } 
}

@media  screen and (max-width:550px){

   .geet{
    display:flex;
    flex-direction: column;
    
    max-width: 90vw;
    margin: auto;
    
    
  
  } 
.dnb{
  display:none;
}
}
.mobimage{
  width:60vw;
  height:60vw;
}
  



@media screen and (max-width:847px){
 
.ThumbContent{
 font-size:1.3vw;
  }


}

@media screen and (max-width:710px){

 
  .ThumbContent{
     font-size:1.3vw;
      }
  
  
  }
  .uri{
    left:3vw;

  }

 .number{
  bottom:1vw;
  right:1.3vw;
  
  
 }

   .mobName{
    top:2vw;
    left:18vw;
    font-size:6vw;
   }
   .mobNumber{
    bottom:1vw;
    right:18vw;
    font-size:6vw;
   }
    
   
    


    .name{
      top:1vh;
      left:1.5vw;
      font-size:2vw;
    }

    .number{
      top:18vw;
      right:1.5vw;
      font-size:2vw;
    }

    .image{
      height: 21.5vw;
      width: 22vw;
    }