.large_circle{
  width: 20vh;
  height: 20vh;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  pointer-events: none;
  transition: 0.1s;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  z-index: 2;
}
@media screen and (max-width: 900px ){
 .overall_cursor{
    display: none;
  }
}
