@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed&family=Open+Sans&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk&display=swap');



#part2
{
    padding-top: 3.5%;
}

#container
{

    height:min-content;
    width: 100%;
}

.h1{
 
    font-family: 'Fira Sans Extra Condensed';
    
    
    }
  
   #head
   {
    font-family: 'Fira Sans Extra Condensed';
    
   } 

   #one{
 
    font-family: 'Familjen Grotesk';
   }
   #two
   {
    font-family: 'Familjen Grotesk';
   }
   #three
   {
    font-family: 'Familjen Grotesk';
   }
   #four
   {
    font-family: 'Familjen Grotesk';
   }

    
    @media screen and (max-width:1054px) {
        #part1
        {
            margin-left: 6rem;
        }
        #part2
        {
            position: absolute;
            left: 36rem;
        }
    }
    @media screen and (max-width:735px) {
        #part1
        {
            margin-left: 4rem;
        }
        #part2
        {
            position: absolute;
            left: 32rem;
        }
    }
   
   @media screen and (max-width:726px) {
      #one
      {
          font-size: 12px;
      } 
      #two
      {
          font-size: 12px;
      }
      #three
      {
          font-size: 12px;
      }
      #four
      {
          font-size: 12px;
      }
      #img
      {
         width: 150px;
         height: 150px;
      }   
      #img1
       {
          width: 25px;
          height: 25px;
       }
       #head
       {
        font-size: 20px;
       }
     #part1
     {
        position: absolute;
        left: -30px;
     }
     #part2
     {
        position: absolute;
        left: 410px;
     }
      #part3
      {
        position: absolute;
        left: 160px;
      }
       #small
       {
        position: absolute;
        top: 160px;
        left: 2px;
       }
      
    #img3
    {
        width: 45px;
        height: 45px;
    }
     #container
     {
        background-color: aqua;
     }
   }
   @media screen and (max-width:558px) {
       #img{
        width: 120px;
        height: 120px;
        margin-left: 35px;
       }
       #small
       {
        left: 35px;
       }

       #head
       {
        font-size: 24px;
       }
      #part1
      {
        margin-left: 20px;
      }
      /* #part2
      {
        margin-right: 500px;
      } */
      #imglast
      {
        visibility: hidden;
      }
      #part2
      {
        margin-left: -50px;
        margin-top: 25px;
      }
      #small
      {
        margin-left: 5px;
        margin-top: -10px;
      }
   }
   @media screen and (max-width:504px) {
    #part2
    {
        margin-top: 45px;
        margin-left: -125px;
    }
   }
   @media screen and (max-width:415px) {
 #container
 {
    width: max-content;
 }
    #img
    {
        width:107.42px;
        height: 115px;
        margin-left: 25px;

    }
    #head
    {
        font-size: 20px;
    }
    #small
    {
     left: 18px;
    }
    #part3
    {
        left :140px
    }
    #part2
    {
       
        margin-left: -165px;
    }
    #four
    {
        margin-left: -30px;
    }
   }
  

   @media screen and (max-width:390px) {
    /* #assam::before
    {
        content: "\a";
        white-space: pre;
    } */
    
    #content-four::before
    {
        content: "\a";
        white-space: pre;
    }
    #img{
       width:107.42px;
       height: 110px;
       margin-top: 56px;
       margin-left: 80px;
    }
    #head
    {
        font-size: 27px;
    }
    #heading
    {
        margin-top: 56px;
        margin-left: 60px;
    }
    #small
    {
        margin-top: 30px;
        margin-left: 36px;
    }
   #img1
   {
    width: 45.25px;
    height: 45.25px;
   }
   #img3
   {
    width: 43px;
    height: 46px;
   
   }
   .heading
   {
    flex-direction: column;
   }
 
   #small
   {
    position: absolute;
    top: 140px;
    left: 30px;
   }
  
   #container
   {
    width: 100%;
    height: 443px;
   }
   #one
   {
    font-size: 14px;
    position: absolute;
    top: 235px;
    left: -170px;
    margin-left: 12px;
   }
   #two
   {
    font-size: 14px;
    position: absolute;
    top: 300px;
    left: -170px;
    margin-left: 12px;
   }
    #part2
    {
        position: absolute;
        width: 158px;
        left: 390px;
        top: 15.7rem;
    }
   #imglast
   {
    visibility: hidden;
   }

   #one
   {
    position: absolute;
       margin-top: 20px;
       margin-left:  60px;
   }
   #two
   {
    margin-top: 20px;
    margin-left:  60px;
   }
   #last
   {
    margin-left: -10px;
   }
    #four
    {
        margin-left: 2px;
        font-size: 14px;

    }
    #three
    {
        font-size: 14px;
    }
   }
   @media screen and (max-width:364px) {
    #one
    {
        margin-left:  40px;

    }
    #two
    {
        margin-left: 40px;
    }
    #part2
    {
        margin-left: -188px;
    }
    #content-four::before
    {
        content: "\a";
        white-space: pre;
    }
   }
   @media screen and (max-width:336px) {
    #img
    {
margin-left: 60px;
    }
    #heading
    {
       margin-left: 35px;
    }
    #small
    {
        margin-left: 15px;
        width: 135px;
    }
    #one
    {
         font-size: 12px;
    }
    #img1
    {
        width: 33px;
        height: 33px;
    }
    #two
    {

        font-size: 12px;
    }
    #part2
    {
        margin-left: -220px;
    }
    #three
    {
        font-size: 12px;
    }
    #four
    {
        font-size: 12px;
    }
   }
   /* @media screen and (max-width:320px) {
    #img1
    {
        width: 40px;
        height: 40px;
    }
    #one
    {
       font-size: 12px;
    }
    #two
    {
    font-size: 12px;
    }
    #img3
    {
        width: 35px;
        height: 35px;
    }
    #part2
    {
        margin-left: -65px;
    }
   } */
   @media screen and (max-width:365px) {
    
   #img3
   {
    width: 30px;
    height: 30px;
   }


   }
   @media screen and (max-width:308px) {
    #head
    {
        font-size: 20px;
    }
    #one
    {
       font-size: 10px;
    }
    #two
    {
    font-size: 10px;
    }
    #three
    {
        font-size: 10px;
    }
    #four
    {
        font-size: 10px;
    }
    #part2
    {
        margin-left: -240px;
    }
    #img3
    {
        width: 30px;
        height: 30px;
    }
    #student::before
    {
        content: "\a";
        white-space: pre;
    }
   }