.overall_evemain{
  position: sticky;
  top: 0;
  background-color:#7BB9C4;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 1500px;
  padding-bottom: 10%;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;
  
}
#font
{
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  line-height: 118px;  
  line-height: 123%;
  font-style: Semibold ;
  left: 200.4px;
  top: 70px;
  font-size: 80px;
}
#curve
{
  
  overflow-x: hidden;  
  position: relative;
  left: 0px;
  padding-bottom: 0;
}
.container
{
  position: relative;
}
.top-left
{
  position: absolute;
  left: 5px;
  font-size: 48px;
}
.bottom-right
{
position: absolute;
left: 5px;
font-size: 96px;

}


.lines
{
  width: 1152px;
  height: 45px;
  position: relative;
  left: 192px;
}

.lines::after, .lines::before
{
  content: '';
  position: absolute;
  margin: auto;
  height: 2px;
  background: #ffffff;
  width: 100%;
  top: 45%;
}
.lines::after
{
  left: 0;
}
.lines::before
{
  right: 0;
}



.one{
  position: absolute;
  right: 240px;
  top : 45px;
  transform: rotate(0deg);
 visibility: hidden;
width: 391px;
height: 334px;


animation-name: none;
}

#cont:hover .one{
  visibility: visible;
  transform: rotate(0deg);
  transition: 0.3s ease-in;
 animation-name: moveUp;
 animation-duration: 0.3s ;
 animation-timing-function: ease-out;

}
.two{
  position: absolute;
  right: 240px;;
  top : 270px;
  transform: rotate(0deg);
 visibility: hidden;
width: 391px;
height: 334px;


animation-name: none;
}

#cont:hover .two{
  visibility: visible;
  transform: rotate(0deg);
  transition: 0.3s ease-in;
 animation-name: moveUp;
 animation-duration: 0.3s ;
 animation-timing-function: ease-out;

}
.three{
 position: absolute;
 right: 240px; 
  top : 520px;
  transform: rotate(0deg);
 visibility: hidden;
width: 391px;
height: 334px;


animation-name: none;
}

#cont:hover .three{
  visibility: visible;
  transform: rotate(0deg);
  transition: 0.3s  ease-in;
 animation-name: moveUp;
 animation-duration: 0.3s ;
 animation-timing-function: ease-out;

}
.four{
  position: absolute;
  right: 240px;
  top : 780px;
 visibility: hidden;
width: 391px;
height: 334px;


animation-name: none;
}

#cont:hover .four{
  visibility: visible;
  ;
  transition: cubic-bezier(.04,.74,.83,.67);
 animation-name: moveUp;
 animation-duration: 0.4s ;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}


.container
{
  position: relative;
}
.top-left
{
  position: absolute;
  top: 8px;
  left: 16px;

}
.bottom-right
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#counter  {
  position: absolute;
   top: 115px;
   left: 230.4px;
  height: 3em;
  overflow: hidden;
}





.digits {
  float:left;
  list-style-type: none;
  font-size: 48px;
  line-height: 1em;
}

.digits-first {
  margin-top: -4em; /* number 4! */
}

.digits-second {
  margin-top: 0em; /* number 0! */
}

.digits-third {
  margin-top: 0em; /* number 4! */
}


.digits-third {
  animation-name: animout;
  animation-duration: 0.75s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}


#first:hover .digits-third
{
 animation-name: anim;
 animation-duration: 1.5s;
 animation-timing-function: ease;
 animation-delay: 0s;
 animation-fill-mode: forwards;
}
#counter1 {
  height: 3em;
  overflow: hidden;
  position: absolute;
  top: 235px;
  left: 230.4px;
}

.digit {
  float:left;
  list-style-type: none;
  font-size: 3em;
  line-height: 1em;
}

.digit-first {
  margin-top: -4em; /* number 4! */
}

.digit-second {
  margin-top: 0em; /* number 0! */
}

.digit-third {
  margin-top: 0em; /* number 4! */
}


.digit-third {
  animation-name: animout;
  animation-duration: 0.75s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}


#second:hover .digit-third
{
 animation-name: anim;
 animation-duration: 1.5s;
 animation-timing-function: ease;
 animation-delay: 0s;
 animation-fill-mode: forwards;
}
#line1
{
top: -85%;  
}
#line2
{
  top: -110px;
}
#font1
{
  position: absolute;
  top: 260px;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  line-height: 70px;  
  font-size: 80px;
  line-height: 123%;
  font-style: Semibold ;
  left: 200.4px;
}

#font2
{
  position: absolute;
  top: 450px;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  line-height: 70px;  
  font-size: 80px;
  font-style: Semibold ;
  left: 200.4px;
}
#counter2 {
  height: 3em;
  overflow: hidden;
  position: absolute;
  left: 230.4px;
  bottom: 470px;
}

.digit2 {
  float:left;
  list-style-type: none;
  font-size: 3em;
  line-height: 1em;
}

.digit2-first {
  margin-top: -4em; /* number 4! */
}

.digit2-second {
  margin-top: 0em; /* number 0! */
}

.digit2-third {
  margin-top: 0em; /* number 4! */
}


.digit2-third {
  animation-name: animout;
  animation-duration: 0.75s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}


#third:hover .digit2-third
{
 animation-name: anim;
 animation-duration: 1.5s;
 animation-timing-function: ease;
 animation-delay: 0s;
 animation-fill-mode: forwards;
}
#line3
{
  top: -200px;
}

#font3
{
  position: absolute;
  top: 590px;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  line-height: 118px;  
  line-height: 123%;
  font-size: 80px;
  font-style: Semibold ;
  left: 200.4px;
}

#counter3 {
  height: 3em;
  overflow: hidden;
  position: absolute;
  left: 230.4px;
  bottom: 310px;
}

.digit3 {
  float:left;
  list-style-type: none;
  font-size: 3em;
  line-height: 1em;
}

.digit3-first {
  margin-top: -4em; /* number 4! */
}

.digit3-second {
  margin-top: 0em; /* number 0! */
}

.digit3-third {
  margin-top: 0em; /* number 4! */
}


.digit3-third {
  animation-name: animout;
  animation-duration: 0.75s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}


#fourth:hover .digit3-third
{
 animation-name: anim;
 animation-duration: 1.5s;
 animation-timing-function: ease;
 animation-delay: 0s;
 animation-fill-mode: forwards;
}


/* Animations */
@keyframes anim {
 from{transform: translateY(0)}
 to{transform:  translateY(-50px)}
} 
@keyframes animout{
 from{transform: translateY(-50px)}
 to{transform:  translateY(0)}   

}

@keyframes moveUp{
  from{transform: translateY(200px)}
  to{transform:  translateY(40px)}
}
@media screen and (max-width:1454px) {
  #counter2 {
     position: absolute;

  }
  #counter3 {
    position: absolute;
  
    
 }
}
@media screen and (max-width: 1280px) {
  .one{
    right: 90px;
  }
  .two{
    right: 90px;
  }
  .three{
    right: 90px;
  }
  .four{
    right: 90px;
  }
 
}

@media  screen and (max-width: 1167px ) {
  #font{
    font-size: 60px;
    margin-top: 15px;
  }
  #font1{
    font-size: 60px;
    margin-top: 15px;
  }
  #font2{
    font-size: 60px;
    margin-top: 15px;
  }
  #font3{
    font-size: 60px;
    margin-top: 15px;
  }
  .lines
  {
    width: 750px;
  }
  #counter
  {
   left: 220px;
   top: 98px;
  }
  #counter1
  {
    left: 220px;
  }
  #counter2
  {
    left: 220px;
  }
  #counter3
  {
    left: 220px;

  }
  
 
  }


  @media screen and (max-width: 1137px) {
    .one{
      right: 90px;
    }
    .two{
      right: 90px;
    }
    .three{
      right: 90px;
    }
    .four{
      right: 90px;
    }
  }
  @media screen and (max-width: 932px) {
    .one{
      right: 50px;
    }
    .two{
      right: 50px;
    }
    .three{
      right:  50px;
    }
    .four{
      right: 50px;
    }
  }
  @media screen and (max-width:1008px) {
    #cont
    {
      margin-left: -40px;
    }
    #font
    {
      left: 175px;
    }
    #font1
    {
      left: 175px;
    }
    #font2
    {
      left: 175px;
    }
    #font3
    {
      left: 175px;
    }
   #counter
   {
     left: 175px;
   }
   #counter1
   {
    left: 175px;
   }
   #counter2
   {
    left: 175px;
   }
   #counter3
   {
    left: 175px;
   }
  }

 @media screen and (max-width:953px) {
  
  .lines
  {
    width: 650px;
  }
  #cont
  {
    margin-left: -99px;
  }
  #font
  {
    left: 110px;
  }
  #font1
  {
    left: 110px;
  }
  #font2
  {
    left: 110px;
  }
  #font3
  {
    left: 110px;
  }
 #counter
 {
   left: 110px;
 }
 #counter1
 {
  left: 110px;
 }
 #counter2
 {
  left: 110px;
 }
 #counter3
 {
  left: 110px;
 }
 }
 @media screen and (max-width:795px) {
  #font
  {
    font-size: 56px;
  }
  #font1
  {
    font-size: 56px;
  }
  #font2
  {
    font-size: 56px;
  }
  
  #font3
  {
    font-size: 56px;
  }
  

  #digit
  {
    font-size: 38px;
  }
  #counter
  {
    height: 2.5em;
  }
  .lines{
    width: 550px;
  }
 }
 @media screen and (max-width:700px) {
  #font
  {
    left: 70px;
  }
  #font1
  {
    left: 70px;
  }
  #font2
  {
    left: 70px;
  }
  #font3
  {
    left: 70px;
  }
 #counter
 {
   left: 70px;
 }
 #counter1
 {
  left: 70px;
 }
 #counter2
 {
  left: 70px;
 }
 #counter3
 {
  left: 70px;
 }
 .lines
 {
  width: 495px;
 }
 #cont
 {
  margin-left: -140px;
 }
 }
 @media screen and (max-width:612px) {
    /* #font
    {
      font-size: 40px;
    }
    #font1
    {
      font-size: 40px;
    }
    #font2
    {
      font-size: 40px;
    }
    #font3
    {
      font-size: 40px;
    } */
    .lines{
      width: 470px;
    }
 }
 @media screen and (max-width:572px) {
  .lines
  {
    width: 420px;
  }
 }
 @media screen and (max-width:520px) {
  .lines
  {
    width: 340px;
  }
  /* #font
  {
    font-size: 35px;
  }
  #font1
  {
    font-size: 35px;
  }
  #font2
  {
    font-size: 35px;
  }
  #font3
  {
    font-size: 35px;
  } */

 }
 @media screen and (max-width:390px) {
  .lines
  {
    width: 250px;
  }
  #font
  {
    font-size: 56px;
  }
  #font1
  {
    font-size: 56px;
  }
  #font2
  {
    font-size: 56px;
  }
  #font3
  {
    font-size: 56px;
  }



  
 }
 @media  screen and (max-width:320px) {
  
 }


  @media screen and (max-width: 877px) {
  #cont:hover .one{
      visibility: hidden;
    }
    #cont:hover .two{
      visibility: hidden;
    }
    #cont:hover .three{
      visibility: hidden;
    }
    #cont:hover .four{
      visibility: hidden;
    }
  }
