


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav{
text-align: center;
background-image: url('./images/hm.png');
background-size:100% 100%;
background-repeat: no-repeat;


}
.topnav {
  
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  overflow: hidden;
 
min-height: 850px;
padding-right: 80px;
}
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align:left ;
    text-decoration: none;
    font-weight: 500;
  font-size: 2.5vh;
  padding: 1%;
 box-sizing: border-box;
  box-shadow: rgb(248, 242, 242);/*
  border-radius: 3cm;*/
  margin-right: 1.5%;
  margin: 1.5%;
}
.topnav a:hover {
   color: rgb(89, 89, 250);
 }
.topnav a.inactive
  {position: absolute;
   
position: absolute;
width: 86px;
height: 92px;
left: 180px;
top: 2px;
text-align:left;


/*right:left;*/
 
}
.find{
  background-image: url('./images/hmm.png');  
  position: absolute;
  width: 86px;
  height: 92px;
  left: 120px;
  top: 20px;
 
}
.find .inactive{

  position: absolute;
  
  height: 60px;
  left: 93px;
  top: 4px;
  
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 123%;
  /* or 20px */
  text-align: left;
  letter-spacing: -0.02em;
  
  color: #FFFFFF;
  
}
.align
{
position :absolute;
display:flex;
flex-direction: column;
top: 300px;

margin-left:auto;
margin-right:auto;

width:100%;



}
.texting
{/*
  position: absolute;
  width: 751px;
  height: 157px;
  left: 295px;
  top: 293px;
  */
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-weight: 600;
  font-size: 12vw;
  line-height: 87%;
  /* or 157px */
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
  -webkit-text-size-adjust: 100%;
  margin-bottom: 0px;
  text-transform: uppercase;
  
  color: #FFFFFF;


}
.inn{
 position: relative;
  width: 751px;
  height: 157px;
  left: 86px;
  top: 65px;
  -webkit-text-size-adjust: 100%;
  white-space: nowrap;
  font-family: 'Familjen Grotesk';
  font-style: normal;
  font-weight: 100;
  font-size: 12px;
  line-height: 123%;
  /* identical to box height, or 16px */
  
  
  color: #FFFFFF;
}
.text{
 /* position: absolute;
width: 862px;
height: 49px;
left: 380px;
top: 480px;*/
margin-top: 20px;
font-family: 'Familjen Grotesk';
font-style: normal;
font-weight: 400;
font-size: 2vw;
line-height: 13%;
/* or 49px */
-webkit-text-size-adjust: 100%;

color: #FFFFFF;
}
.tomp{

  background-image: url('./images/Union.png');
 background-repeat: no-repeat;
 background-size: cover;
border-width:0px;
position: absolute;
width: 100%;
height: 100.26px;
left: -0px;
top: 750px;
object-fit: fill;
} 
@media screen and (min-width: 980px)
{
  .navigation,.hamburger-menu,.last,.bodys{
    display: none;

  }
  


}
@media screen and (max-width: 980px ){


  .nav{
      display: none;
  }
   .navigation{
    background-image: url('./images/hm.png');
    height: 850px;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    color: #FFFFFF;
  }
.mainbar{
display: flex;
  margin-left:auto;
margin-right:auto;
width:100%;
height: 100%;
  
}




  .logosm{ background-image: url('./images/hmm.png');  
    position: relative;
    background-repeat: no-repeat;
    width: 100%;
    height: 85px;
    left: 32px;
    top: 33px;
  }
.logosm .inactivesm{
  position: absolute;
  width: 78.91px;
  height: 54px;
  left: 103.74px;
  top: 0px;
  
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 14.3478px;
  line-height: 123%;
  /* or 18px */
  
  letter-spacing: -0.02em;
  
  color: #FFFFFF;

}
.logosm .innsm{

  position: absolute;
width: 80px;
height: 14px;
left: 103.74px;
top: 64px;
font-family: 'Familjen Grotesk';
font-style: normal;
font-weight: 400;
font-size: 11.4783px;

/* or 14px */


color: #FFFFFF;
}



  .last{
    background-image: url('./images/Union.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
   position: absolute;
   width: 100%;
   
height: 50px;
left: 0%;
top: 809px;
   

  }
  .div_image{


    width: 100%;
    
  }

.topnav-link{
  
  background-color: white;
  display: table-column;
height: 90px;
width: 100%;
}/*
.logosm .hamburger-menu{
  height: 29.43px;
  left: .54px;
  top: 809px;
     
}*/
.bodys{position :absolute;
  display:flex;
  flex-direction: column;
  column-width: 3px;;
  top: 350px;
  column-gap: 0ch;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  width:100%;
 
}
.bodyss{
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-weight: 600;
  font-size: 11vw;
  
text-transform: uppercase;

color: #FFFFFF;
-webkit-text-size-adjust: 100%;
}
 .bodysss{
  color: #FFFFFF;
  font-family: 'Familjen Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 4vw;
  line-height: 123%;
 top:20px;
text-align-last: center;
 overflow:visible;
 -webkit-text-size-adjust: 100%;
}


.dropbtn {
  background-color: #07c07c;
  opacity:1;
  color: white;
  padding: 6px;
  
  border: none;
 
}



.dropdown {
  float: right;
  margin-right: 30px;
  margin-top: 36px;
  position: relative;
  display: inline-block;
}

.dropdown-menu.active{
  display: block;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  opacity:0.5;
  right: 0;
  z-index: 2;
}
.dropdown-menu.inactive{
  display:none;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}



}
/*----------------------------*/
.idhar{ 
  background-image:  url('./images/Union.png');
 
   
  
   background-repeat: no-repeat;
   
  background-color: #f4f4f4;
 
  width:auto;
  height:  997px;
  position: relative;
  display: flex;
 

}
.main_chair 
{
position: relative;
  display: flex;
  flex-direction:row;
  width: 100%;
  height:  997px;
  top: 10%;
}


.flexing{
display: flex;
flex-direction: column;
position: relative;
margin-top: 15%;
width: 40%;
height: 20%;
left:-5%;
}
.main_image{
  position: relative;
  top: 15%;
width: 35%;
height: 35%;
left: 15%;


}
.para{
  position: relative;
border-radius: 1vh;
padding: 1vh;
width: 80%;
height: 80%;
left: 64%;
top: 50.0%;

font-family: 'Familjen Grotesk';
font-style: normal;
font-weight: 400;
font-size: 3vh;
line-height: 160%;
/* or 38px */


color: #565656;

}
.heading
{
  position: relative;
  width: 50%;
  height: 12%;
  left: 65%;
  top: 5%;
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-weight: 600;
  font-size: 7vh;
  line-height: 123%;
  text-transform: uppercase;
  color: #000000;

}
.union_footer{
  background-repeat: no-repeat;
  background-size: cover;
 border-width:0px;
 position: absolute;
 width: 1580px;
 height: 100.26px;
 left: 1px;
 top: 1100px;
}
.icons{
  display: flex;
  flex-direction: row;
  position: relative;
  left: -15%;
}
.ico{
  align-items: flex-start;
  margin-left: 15%;
 
}
/******-----*********/
.idhar2{
  background-color: #f4f4f4;
 background-image:  url('./images/teams.png');
 background-size:100% 100%;
  position: relative;
  display: flex;
  background-repeat: no-repeat;
  
  
}
.main_chair2 
{
  position: relative;
  display: flex;
  flex-direction:row;
  width: 1580px;
  height:  997px;
  top: 10%;

}





.flexing2{
display: flex;
flex-direction: column;
position: relative;
margin-top: 15%;
width: 40%;
height: 20%;
top:10%;
}
.main_image2{
  position: relative;
  top: 30%;
width: 35%;
height: 35%;
right: -50%;

}
.para2{
  position: relative;
  border-radius: 1vh;
  padding: 1vh;
  width: 80%;
  height: 80%;

right: 45%;
top: 70%;

font-family: 'Familjen Grotesk';
font-style: normal;
font-weight: 400;
font-size: 3vh;
line-height: 160%;
/* or 38px */


color: #565656;

}
.heading2
{
position: relative;

width: 50%;
height: 8%;
right: 45%;
top: 30%;

font-family: 'Fira Sans Extra Condensed';
font-style: normal;
font-weight: 600;
font-size: 7vh;
line-height: 123%;
/* identical to box height, or 118px */

text-transform: uppercase;

color: #000000;

}
.union_footer2{
  background-repeat: no-repeat;
  background-size: cover;
 border-width:0px;
 position: absolute;
 width: 1580px;
 height: 100.26px;
 left: 1px;
 top: 1100px;
}
.icons2{
  display: flex;
  flex-direction: row;
  position: relative;
  left: -10%;
}
.ico2{
  align-items: flex-start;
  margin-left: 10%;
 
}
.idhar3{
  background-color: #7BB9C4;
 background-image:  url('./images/Union.png');
 background-size:100% 100%;
  position: relative;
  display: flex;
  background-repeat: no-repeat;
  
  
}
.main_chair3{
   

display: flex;
flex-direction:row;
width: 1580px;
height:  997px;
top: 10%;
}
.flexing3{
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 15%;
  width: 40%;
  height: 20%;
  left:-5%;
  
  }
  .main_image3{
    position: relative;
  top: 28%;
width: 35%;
height: 35%;
left: 15%;

  }
  .para3{
    position: relative;
    border-radius: 1vh;
    padding: 1vh;
    width: 80%;
    height: 80%;
  
 left: 63.5%;
  top: 95%;
  
  font-family: 'Familjen Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 3vh;
  line-height: 160%;
  /* or 38px */
  
  
  color: #565656;
  
  }
  .heading3
  {
    position: relative;

    width: 50%;
    height: 8%;
    left: 65%;
    top: 65%;
   
font-family: 'Fira Sans Extra Condensed';
font-style: normal;
font-weight: 600;
font-size: 7vh;
line-height: 123%;
/* identical to box height, or 118px */

text-transform: uppercase;

color: #000000;
  
  }