
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk&family=Fira+Sans+Extra+Condensed:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@600&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.para_about{
  font-size: 2vw;
}
.overall_about{
  display: flex;
  align-items: center;
  position: sticky;
  background-color: #f4f4f4;
  background-repeat: no-repeat;
  background-size: cover;
  scroll-snap-type: y mandatory;
  height: 100vh;
  align-items: center; 
  top:0;
}
.about_block{
 /* ; */
  padding-top: 10%;
  padding-bottom: 10%;
  width:100%;
  background-color: #f4f4f4;
  position: static;
  top:0px;

}
.cnrg_overall{
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  position: sticky;
  height: 100vh;
  top:0;
  width:100%;
  align-items: center; 
  background-color: #7BB9C4;
  scroll-snap-type: y mandatory;
}
.events_overall{
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center; 
  justify-content: center;
  background-color:#f4f4f4;
  position: sticky;
  top: 0;
}
.team_blockoverall{
  background-repeat: no-repeat;
  background-size:cover;
  height:100vh;
  display: flex;
  align-items: center; 
  flex-direction: row;
  position: sticky;
  top:0;
  z-index: 1;
  background-color: #7BB9C4;
}
.team_blockoverall::-webkit-scrollbar,.facilities_blockoverall::-webkit-scrollbar,.smgrid::-webkit-scrollbar{
  display: none;
}

.facilities_blockoverall{ 
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  top:0;
  position: sticky;
  align-items: center; 
  column-gap: 20px;
  background-color: #f4f4f4;
  overflow-x: hidden;
  transition-delay: 1s;
  transition-duration: 2s;
  z-index: 1;

}
.team_block{
  display: grid;
  grid-template-columns: 1.5fr 1.5fr;
  align-items: center;
  
}
.crng_block{
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  width:100%;
  padding-left: 15%;
  padding-right: 2%;
  font-family: 'Familjen Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #565656;
}
.pasteventsContainer1{
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  padding-left: 10%;
  padding-right: 2%;
  font-family: 'Familjen Grotesk';
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: #565656;
}
.pasteventsContainer2{
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  padding-left: 10%;
  font-family: 'Familjen Grotesk';
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: #565656;
}
.about_block{
  display: grid;
  grid-template-columns: 1.2fr 1.5fr;
}
.facilities_block{
  display: grid;
  grid-template-columns: 1.5fr 1.5fr;
  align-items: center;
}

.head_about{
  color: black ;
  font-weight: bolder;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: 10vh;
  line-height: 123%;
  text-transform: uppercase;
}
.container1{
  display: flex;
  flex-direction: row;
  align-items:center ;
  column-gap: 10%;
  padding-left: 30%;
  padding-right: 4%;
  font-size: 20px;
}
.container2{
  font-family: 'Familjen Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
  color: #565656;
}

.containerteam1{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  column-gap: 10%;
  padding-left: 30%;
  font-size: 20px;
}
.containerteam2{
  display: inline-flex;
  flex-direction: column;
  row-gap: 80px;
  font-family: 'Familjen Grotesk', sans-serif;
  color: #565656;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
}

.gridcontainer{
  display: grid;
  grid-template-rows: 300px 300px;
}
.gridimg{
  padding:10px 10px 10px;
  box-sizing: border-box;
}
.imggrid{
    display: flex;
    flex-direction: row;
    grid-template-rows: 50% 50%;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    row-gap: 20px;
    column-gap: 30px;  
}

/*.imggrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}*/

@media screen and (min-width: 600px ){
  .btn{
    transition: all 2s cubic-bezier(0.68,-0.55 0.265,1.55);
    color: #000;
    text-transform: uppercase;
    min-height: 71px;
    min-width: 280px;
    border: 1px solid #000;
    display: inline-flex;
    flex-wrap: wrap;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 123%;
    align-items: center;
    justify-content: center;
    padding-right: 70px;
    position: relative;
    z-index: 2; 
}
.btn::before {
  transition: all 2s cubic-bezier(0.68,-0.55 0.265,1.55);
  background: black;
  position: absolute;
  content: "";
  top: 0px;
  right: -1px;
  bottom: 11px;
  width: 70px;
  min-height: 100%;
  z-index: -1;
  clip-path: polygon(0% 0%,0% 100%,35% 100%,35% 25%,70% 50%,25% 80%,0% 85%,31% 100%,100% 100%,100% 0%);
}
.btn:after{
  position: absolute;
  content: "";
  top: 0px;
  right: 69px;
  bottom: -1px;
  width: 0;
  max-height: 100%;
  background: black;
  transition: all 0.75s;
  z-index: -2;
}

.btn:hover{
  color: #fff;
}

.btn:hover:after{
  width: 75%;
  height: 100%;
}
}
@media screen and (max-width: 600px ){
  .btn{
    transition: all 2s cubic-bezier(0.68,-0.55 0.265,1.55);
    color: #000;
    text-transform: uppercase;
    min-height: 68px;
    min-width: 210px;
    border: 1px solid #000;
    display: inline-flex;
    flex-wrap: wrap;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 123%;
    align-items: center;
    justify-content: center;
    padding-right: 65px;
    position: relative;
    z-index: 2; 
}
.btn::before {
  transition: all 2s cubic-bezier(0.68,-0.55 0.265,1.55);
  background: black;
  position: absolute;
  content: "";
  top: 0px;
  right: -1px;
  bottom: 11px;
  width: 60px;
  min-height: 100%;
  z-index: -1;
  clip-path: polygon(0% 0%,0% 100%,35% 100%,35% 25%,70% 50%,25% 80%,0% 85%,31% 100%,100% 100%,100% 0%);
}
.btn:after{
  position: absolute;
  content: "";
  top: 0px;
  right: 53px;
  bottom: 0px;
  width: 0;
  height: 100%;
  background: black;
  transition: all 0.75s;
  z-index: -2;
}

.btn:hover{
  color: #fff;
}

.btn:hover:after{
  width: 75%;
  height: 100%;
}
.para_about{
  font-size: 12px;
}
}
@media screen and (max-width: 950px ){
  .about_block,.cnrg_overall,.facilities_blockoverall,.team_blockoverall{
    display: none;
  }
  .gridimg{
    height: 50%;
    width: 70%;
  }
  .events_overall{
    height: 800px;
    align-items: flex-start;
    justify-content: center;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: #7BB9C4;
    background-size: 100% 100%;
    height: 100vh;  }
  .pasteventsContainer1,.pasteventsContainer2{
    display: flex;
    align-items: center;
    padding-left: 0;
  }
  .pasteventsContainer2{
    flex-direction: column;
  }
  .pasteventsContainer1{
    flex-direction: column-reverse;
  }
  .img1,.smimg1{
    height: 40vw;
  }
  
  
}
.smabout_block,.smteam_block,.smfacilities_block,.smcnrg_block{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 10%;
  font-family: 'Familjen Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #565656;
}
.smabout_block,.smcnrg_block{
  padding-bottom: 10%;
}
.smabout_block{
  background-color: #f4f4f4;
}
.smoverallConatiner_facilities{
  background-color:#f4f4f4;
  background-repeat: no-repeat;
  background-size: cover;
  position: sticky;
  top:0;
  height: 100vh;
}

.smoverallcontainer_team,.smcnrg_overall{
  background-color: #7BB9C4;
  background-repeat: no-repeat;
  background-size: cover;
  position: sticky;
  top:0;
  height: 100vh;
}
.smfirm-btn{
  padding-left: 10%;
  padding-top: 7%;
  padding-bottom: 7%;
}
.smgrid:hover{
  cursor:crosshair;
}
@media screen and (min-width: 950px ){
  .smabout_block,.smoverallConatiner_facilities,.smoverallcontainer_team,.smcnrg_overall{
    display: none;
  }
  .max-pd{
    padding-left: 24px;
  }
}
